@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chewy", "Times New Roman";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    background-color: #0e202d;
    color: #FF9B51;
    align-self: stretch;
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

.content {
    flex: 1;
    background-color: #BFC9D1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#grid-container {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 15px 8px #000000;
}

button {
    background-color: #FF9B51;
    color: #25343F;
    font-size: 28px;
    font-weight: bold;
    border: solid thick #25343F;
    padding: 15px;
    box-shadow: 0px 5px 15px 3px #000000;
}